/* styles.css */

* {
    font-family: Helvetia, "Times New Roman", serif;
}

a {
    color: orange;
    border: 1px;
    display: block;
    height: 40px;
    width: 100px;
    padding: 5px;
    background-color: grey;
    text-align: center;
}

img {
    height: auto;
    width: 300;
}

.border {
    border: 5px solid orange;
}

.important {
    font-weight: 600;
    text-decoration: underline;
}

#pizza_desc {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color:red;
}

ul li.first {
    font-weight: 800;
    background-color: yellow;
}
